header {
  background: url(../images/checkers-light.gif) left top repeat;
  border-bottom: solid 3px rgba(0, 0, 0, 0.25);
}

header a#tds-logo {
  width: 300px;
  height: 36px;
  background-image: url(../images/logo-bend-horizontal.svg);
}

header ul#header-contact-links li a.contact-links-text {
  padding: 12px 6px 6px 3px;
  font-weight: 600;
}

header ul#header-contact-links li a.contact-links-text:hover {
  background-color: #f70;
  color: #fff;
  border-radius: 3px;
  transition: all .1s ease-in-out;
}

header ul#header-contact-links li a.contact-links-text:before {
  background-color: #f70;
}

header ul#header-contact-links li a.contact-links-text:hover:before {
  background-color: #f70;
}

.L0-nav {
  border-bottom: none;
}

.L0-nav ul li {
  position: relative;
}

.L0-nav ul li a {
  color: #555;
  transition: all .1s ease-in-out;
  font-weight: 600;
}

.L0-nav ul li a:hover {
  color: #f70;
  background-color: transparent;
  cursor: pointer;
}

.L0-nav ul li a:hover:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #cc5f00;
}

.L0-nav ul li.active a {
  color: #f70;
  background-color: transparent;
}

.L0-nav ul li.active a:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -12px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #cc5f00;
}

.L0-nav .tds-searchbar {
  margin-left: auto;
}

.L0-nav .tds-searchbar .tds-search-container {
  border: 1px solid #bbb;
}

.L0-nav .tds-searchbar .tds-search-container .tds-searchbar-button {
  background-color: #f70;
  height: 40px;
}

.welcome-message {
  border-bottom: solid 2px #f70;
}

footer {
  background: #518EAA url(../images/bg-footer-residential.jpg) no-repeat scroll center bottom;
  background-size: cover;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  padding: 40px 0;
}

footer .footer-links li a {
  border-right: solid 1px #fff;
  color: #fff;
}

footer .copyright {
  color: #fff;
}
