/* footer.scss
==========================================*/
footer {
  width: 100%;
  background-color: $tds-dk-gray;
  text-align: center;
  border-top: solid 4px $tds-dkr-gray;
  padding: 0;
  margin-top: 40px;
  .phone {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin: 24px 16px;
    a {
      color: white;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .footer-links {
    margin: 0 20px;
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      font-family: $tds-font-body;
      font-weight: 400;
      font-style: normal;
      font-size: 0.75em;
      line-height: 1.25em;
      margin-right: -4px;

      a {
        display: inline-block;
        padding: 4px 16px;
        border-right: solid 1px $tds-lt-gray;
        color: $tds-lt-gray;
        &:hover, &:focus, &:active {
          background-color: rgba(0,0,0,.25);color: white;
        }
      }
    }
    li:last-child a {
      border-right: none;
    }

    @media (max-width:$screen-xxs) {
        li {
          display: block;
          text-align: center;
          a {
            display: block;
            padding: 16px;
            border-right: none;
            border-bottom: solid 1px $tds-gray-dkr-30;
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
    }
  }

  .copyright {
    font-size: 0.75em;
    line-height: 1.5em;
    color: $tds-lt-gray;
    margin: 0;
  }
}
.container.copyright-wrap {
    background-color: #353535;
    padding: 24px;
    margin: 0;
    width: 100%;
    max-width: initial;
}
.container-fluid.footer-links-wrap {
    padding: 36px 20px;
    @media (max-width:$screen-xxs) {
      padding: 0;
      .footer-links {
        margin: 0;
      }
    }
}

/* END footer.scss */
