/* plugin-contact_preferences
==========================================*/
.contact-preferences-plugin {
  .table thead th {
    text-align: left;
  }
  .table td {
    width: 20%;
  }
  .table td:first-child {
    width: auto;
    min-width: 280px;
  }
  .table td:last-child {
    width: auto;
    min-width: 250px;
  }
}
.contact-email.card .form-group,
.thresholds.card .form-group,
.thresholds.card .form-group label {
    margin-bottom: 0;
}


/* END plugin-contact_preferences.scss */
