/* tds-mixins
==========================================*/
@mixin tds-icon {
  position: relative;
  display: inline-block;
  top: -1px;
}

@mixin fontello {
  font-family: "fontello";
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* END tds-mixins.scss */
