/* tds-color-blocks
==========================================*/
.bg-primary, .bg-tds-blue {
  background-color: $tds-blue-100;
}

.bg-secondary, .bg-tds-lt-blue {
    background-color: $tds-lt-blue-100;
}

.bg-orange {
  background-color: $tds-orange-100;
}

.bg-dk-gray {
  background-color: $tds-dk-gray;
}

.bg-lt-gray {
  background-color: $tds-lt-gray;
}
.bg-green {
    background-color: $tds-green;
}
