/* tds-cards
==========================================*/
// https://getbootstrap.com/docs/4.0/components/card/

.card-deck {
    margin-bottom: 24px;
}

.card {
    margin-bottom: 28px;
    border: 3px solid $tds-lt-gray;
    h2,
    h3 {
        margin-top: 0;
    }
    h3 {
        font-size: 1.5em;
    }
    ul {
        padding-left: 20px;
        li {
            color: $tds-dk-gray;
            margin-bottom: 6px;
            &:before {
                margin-left: -20px;
                margin-right: 12px;
            }
        }
    }
    // if tds-card happens to get nested in another card
    .card {
        margin-bottom: 0;
        padding: 0;
        background: transparent;
        border: none;
    }
}

// BackgroundS
// -----------------------
.bg-lt-gray,
.card .card.bg-lt-gray {
    background-color: $tds-ltr-gray;
}
.bg-white,
.card .card.bg-white {
    background-color: $tds-white;
}
.card.bg-lt-gray,
.card.bg-white {
    border: none;
}

.bg-dk-gray,
.card .card.bg-dk-gray {
    background-color: $tds-dk-gray;
    border-color: $tds-dk-gray;
    .card-header, .card-header h2, .card-body {
      color: white;
    }
}

// Card Layouts
// -----------------------


// Card Headings
// -----------------------
.card-header, .card-header h2 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    color: $tds-blue-100;
    background: none;
    border-bottom: none;
    font-family: $tds-font-family;
    font-weight: 500;
}

// Card Image
// -----------------------


// Card Body
// -----------------------
.card-body {
    h1,
    h2,
    h3,
    p {
        color: $tds-dkr-gray;
    }
}

/* END tds-cards.scss */
