/* bend-footer.scss
==========================================*/
footer {
  background: #518EAA url(../images/bg-footer-residential.jpg) no-repeat scroll center bottom;
  background-size: cover;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  .footer-links {
    margin-top: 20px;
    li {
      font-family: $bend-font-body;
      a {
        border-right: solid 1px #fff;
        color: #fff;
      }
    }
  }
  .copyright {
    color: #fff;
  }
}
@media (max-width:$screen-xxs) {
  footer {
    padding-top: 0;
    .footer-links {
      li {
        a {
          display: block;
          padding: 16px 16px 16px 0;
          border-right: none;
          border-bottom: solid 1px $tds-headfoot-text-color;
        }
      }
      li:first-of-type a {
          border-top: solid 1px $tds-headfoot-text-color;
      }
    }
  }
}
/* END bend-footer.scss */
