/* footer.scss
==========================================*/
footer {
  background-color: $tds-dk-gray;
  text-align: center;
  border-top: solid 4px $tds-dkr-gray;
  padding: 1.75em 0;

  .phone {
    color: white;
    font-weight: 500;

    a {
      color: white;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .footer-links {
    margin: 0 20px;
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      font-family: $tds-font-body;
      font-weight: 400;
      font-style: normal;
      font-size: 0.75em;
      line-height: 1.25em;
      margin-right: -4px;

      a {
        display: inline-block;
        padding: 4px 16px;
        border-right: solid 1px $tds-headfoot-text-color;
        color: $tds-headfoot-text-color;
        text-decoration: none;
      }
    }
    li:last-child a {
      border-right: none;
    }

    @media (max-width:$screen-xxs) {
        li {
          display: block;

          a {
            display: block;
            padding: 16px;
            border-right: none;
            border-bottom: solid 1px $tds-headfoot-text-color;
          }
        }
    }
  }

  .copyright {
    font-size: 0.75em;
    line-height: 1.5em;
    color: $tds-headfoot-text-color;
    padding: 15px;
  }
}


/* END footer.scss */
