.brand-primary {
  color: #f70;
}

.brand-primary a {
  color: #f70;
}

.brand-secondary {
  color: #64bfd3;
}

.brand-secondary a {
  color: #64bfd3;
}

.brand-tertiary {
  color: #8dc73f;
}

.brand-tertiary a {
  color: #8dc73f;
}

.brand-quartenary {
  color: #fc0;
}

.brand-quartenary a {
  color: #fc0;
}

.brand-quincenary {
  color: #1c76b4;
}

.brand-quincenary a {
  color: #1c76b4;
}
