footer {
  background: #518EAA url(../images/bg-footer-residential.jpg) no-repeat scroll center bottom;
  background-size: cover;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  padding: 40px 0;
}

footer .footer-links li a {
  border-right: solid 1px #fff;
  color: #fff;
}

footer .copyright {
  color: #fff;
}
