@font-face {
  font-family: 'tex_gyre_adventorregular';
  src: url("texgyreadventor-regular-webfont.eot");
  src: url("texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("texgyreadventor-regular-webfont.woff2") format("woff2"), url("texgyreadventor-regular-webfont.woff") format("woff"), url("texgyreadventor-regular-webfont.ttf") format("truetype"), url("texgyreadventor-regular-webfont.svg#tex_gyre_adventorregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tex_gyre_adventoritalic';
  src: url("texgyreadventor-italic-webfont.eot");
  src: url("texgyreadventor-italic-webfont.eot?#iefix") format("embedded-opentype"), url("texgyreadventor-italic-webfont.woff2") format("woff2"), url("texgyreadventor-italic-webfont.woff") format("woff"), url("texgyreadventor-italic-webfont.ttf") format("truetype"), url("texgyreadventor-italic-webfont.svg#tex_gyre_adventoritalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'tex_gyre_adventorbold';
  src: url("texgyreadventor-bold-webfont.eot");
  src: url("texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"), url("texgyreadventor-bold-webfont.woff2") format("woff2"), url("texgyreadventor-bold-webfont.woff") format("woff"), url("texgyreadventor-bold-webfont.ttf") format("truetype"), url("texgyreadventor-bold-webfont.svg#tex_gyre_adventorbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tex_gyre_adventorbold_italic';
  src: url("texgyreadventor-bolditalic-webfont.eot");
  src: url("texgyreadventor-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("texgyreadventor-bolditalic-webfont.woff2") format("woff2"), url("texgyreadventor-bolditalic-webfont.woff") format("woff"), url("texgyreadventor-bolditalic-webfont.ttf") format("truetype"), url("texgyreadventor-bolditalic-webfont.svg#tex_gyre_adventorbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
