footer {
  background-color: #555555;
  text-align: center;
  border-top: solid 4px #353535;
  padding: 1.75em 0;
}

footer .phone {
  color: white;
  font-weight: 500;
}

footer .phone a {
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

footer .footer-links {
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
  text-align: center;
}

footer .footer-links li {
  display: inline;
  font-family: "Neue Helvetica W01", Helvetica Neue, Helvetica, Arial;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75em;
  line-height: 1.25em;
  margin-right: -4px;
}

footer .footer-links li a {
  display: inline-block;
  padding: 8px 12px;
  border-right: solid 1px #cacaca;
  color: #cacaca;
}

footer .footer-links li:last-child a {
  border-right: none;
}

footer .copyright {
  font-size: 0.75em;
  line-height: 1.5em;
  color: #cacaca;
}
